<!--
  ~ Time:2022/4/5 14:58 38
  ~ Name:13 key的原理.html
  ~ Path:Vue/dey01
  ~ ProjectName:前端
  ~ Author:突然
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>key的原理</title>
	<script src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
	<h2>人员列表(遍历数组)</h2>
	<button @click.once="add">添加一个老刘</button>
	<!--	<ul>
        <li v-for="(p,index) of persons" :key="index">
          &lt;!&ndash;	不报错，效率低、乱位  可以看图【遍历列表时key的作用（index作为key）】	&ndash;&gt;
          {{ p.name }}-{{ p.age }}
          <input type="text">
        </li>
      </ul>-->
	<ul>
		<li v-for="(p,index) of persons" :key="p.id">
			<!--	可以看图【遍历列表时key的作用（index作为key）】	-->
			{{ p.name }}-{{ p.age }}
			<input type="text">
		</li>
	</ul>
</div>
</body>
<script>

	/*
		面试题：react、vue中的key有什么作用？（key的内部原理）

			1、虚拟DOM中key的作用：
				key是虚拟DOM对象的标识，当状态发生改变时，Vue会根据【新数据】生成【新的虚拟DOM】
				随后Vue进行【新的虚拟DOM】与【旧的虚拟DOM】进行比较规
			2、对比规则：
				（1）、旧的虚拟DOM中找到了与新的DOM相同的key：
					1 - 若虚拟DOM中内容没有改变，直接使用之前的真实DOM
					2 - 若虚拟DOM中内容发生改变，则生成新的真实DOM，随后替换掉页面中之前的真实DOM
				（2）、旧的虚拟DOM中未找到与新的虚拟DOM相同的key
					创建新的真实DOM，随后渲染到页面
			3、用index作为key的值可能会引发的问题：
				（1）若对数据进行：逆序添加，逆序删除等破坏顺序操作：
					会产生没必要的真实DOM更新 ==> 界面效果没问题，但效率低
				（2）如果结构中还包括输入类的DOM：
					会产生错误DOM更新 ==> 界面有问题
			4、开发中如何选择key的值?：
				1、最好使用每条数据的唯一标识作为key的值，比如id、手机号、身份证、学号等唯一值
				2、如果不存在对数据的逆序添加、删除等破坏顺序操作。仅仅用于渲染列表展示，使用index作为key值是没有问题的
	*/

	Vue.config.productionTip = false;

	const vm = new Vue({
		el: '#root',
		data () {
			return {
				persons: [
					{ id: '001', name: '张三', age: 18 },
					{ id: '002', name: '李四', age: 19 },
					{ id: '003', name: '王五', age: 20 },
				],
			};
		},
		methods: {
			add () {
				const p = { id: '004', name: '老刘', age: 30 };
				this.persons.unshift(p);
			},
		},

	});
</script>
</html>
