<!--
  ~ Time:2022/4/6 10:56 36
  ~ Name:6 Vue的set的使用.html
  ~ Path:Vue/01 vue/12 列表渲染
  ~ ProjectName:前端
  ~ Author:突然
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Vue的set的使用_更新改变对象的方法</title>
	<script src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
	<h2>欢迎来到{{ name }}</h2>
	<h2>{{ address }}</h2>
	<hr>
	<button @click="addSex">点击添加性别</button>
	<h2>名字：{{ student.name }}</h2>
	<h2 v-if="student.sex">性别：{{ student.sex }}</h2>
	<h2>年龄：{{ student.age.rAge }},虚岁：{{student.age.sAge}}</h2>
	<ul>
		<li v-for="(p,index) in student.friends" :key="index">
			{{p.name}}---{{p.age}}
		</li>
	</ul>
</div>
</body>
<script>

	/*
		set()的用法：
			向响应式对象中添加一个 property，并确保这个新 property 同样是响应式的，且触发视图更新。
			它必须用于向响应式对象上添加新 property，因为 Vue 无法探测普通的新增 property
			(比如 this.myObject.newProperty = 'hi')
		注意【限制】：
			注意对象不能是 Vue 实例，或者 Vue 实例的根数据对象。
	 */
	Vue.config.productionTip = false;

	const vm = new Vue({
		el: '#root',
		data () {
			return {
				name: 'Vue',
				address: '郑州',
				student: {
					name: 'tom',
					age: {
						rAge: 18,
						sAge: 20,
					},
					friends: [
						{ name: 'jerry', age: 19 },
						{ name: 'tony', age: 21 },
					],
				},
			};
		},
		methods: {
			addSex(){
				this.$set(vm.student,'sex','男')
			}
		},
	});

	// debugger

	// 添加属性
	// Vue.set(vm._data.student,'sex','男')
	// vm.$set(vm._data.student,'sex','男')
	// vm.$set(vm.student,'sex','男')
</script>
</html>
